<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @donative.user %>
</p>

<p>
  <strong>Bump:</strong>
  <%= @donative.bump %>
</p>

<p>
  <strong>Money:</strong>
  <%= @donative.money %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @donative.comment %>
</p>

<%= link_to 'Edit', edit_donative_path(@donative) %> |
<%= link_to 'Back', donatives_path %>
