<p id="notice"><%= notice %></p>

<h1>Listing Bumps</h1>

<table>
  <thead>
    <tr>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Lengthsteps</th>
      <th>Widthsteps</th>
      <th>Depth</th>
      <th>Videourl</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bumps.each do |bump| %>
      <tr>
        <td><%= bump.latitude %></td>
        <td><%= bump.longitude %></td>
        <td><%= bump.lengthSteps %></td>
        <td><%= bump.widthSteps %></td>
        <td><%= bump.depth %></td>
        <td><%= bump.videoUrl %></td>
        <td><%= link_to 'Show', bump %></td>
        <td><%= link_to 'Edit', edit_bump_path(bump) %></td>
        <td><%= link_to 'Destroy', bump, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bump', new_bump_path %>
